<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Survey Database</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        body{
            background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
        }
    </style>
</head>
<body>
    <a th:href="@{/surveyForm/db/new}" class="btn btn-sm btn-secondary position-absolute top-0 end-0 m-2">New survey</a>
    <div class="container-fluid">
        <h1 class="text-center display-1 lead">Survey Database</h1>
        <form th:action="@{/surveyForm/db/search}" method="get" class="d-flex justify-content-center my-4">
            <input type="search" id="search" name="keyword" th:value="${keyword}" placeholder="Search by name..." size=50/>
            <button class="btn btn-info btn-sm p-1 mx-2" id="searchBtn" type="submit">Search</button>
        </form>
        <table class="table table-striped table-bordered mt-2">
            <thead class="table-dark">
                <tr>
                    <th class="d-flex justify-content-between">Name<a th:href="@{'/surveyForm/db/page/' + ${currentPage} + '?field=name&sortDir=' + ${reverseSortDir}}">
                        <i class="fa-solid fa-arrows-up-down mt-1"></i></a></th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Current Role</th>
                    <th>Recommendation</th>
                    <th>Favourite Feature</th>
                    <th>Feedback</th>
                    <th>Additional Comments</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:each="srv:${surveys}">
                    <td th:text="${srv.name}"></td>
                    <td th:text="${srv.email}"></td>
                    <td th:text="${srv.age}"></td>
                    <td th:text="${srv.currentRole.value}"></td>
                    <td th:text="${srv.recommendation.value}"></td>
                    <td th:text="${srv.favFeature.value}"></td>
                    <td>
                        <ul>
                            <li th:each="f:${srv.feedback}" th:text="${f.value}"></li>
                        </ul>
                    </td>
                    <td th:text="${srv.comment}"></td>
                </tr>
            </tbody>
        </table>

        <footer class="panel-footer d-flex justify-content-end">
            <nav aria-label="Page navigation example">
<!--                Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]-->

                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/surveyForm/db/page/1' + '?field=' + ${field} + '&sortDir=' + ${sortDir}}">First</a>
                        <a class="page-link" th:unless="${currentPage > 1}">First</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/surveyForm/db/page/' + ${currentPage - 1} + '?field=' + ${field} + '&sortDir=' + ${sortDir}}">Previous</a>
                        <a class="page-link" th:unless="${currentPage > 1}">Previous</a>
                    </li>

                    <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${i != currentPage}" th:href="@{'/surveyForm/db/page/' + ${i} + '?field=' + ${field} + '&sortDir=' + ${sortDir}}" class="page-link">[[${i}]]</a>
                        <a class="page-link" th:unless="${i != currentPage}">[[${i}]]</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/surveyForm/db/page/' + ${currentPage + 1} + '?field=' + ${field} + '&sortDir=' + ${sortDir}}">Next</a>
                        <a class="page-link" th:unless="${currentPage < totalPages}">Next</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" th:if="${currentPage <totalPages}" th:href="@{'/surveyForm/db/page/' + ${totalPages} + '?field=' + ${field} + '&sortDir=' + ${sortDir}}">Last</a>
                        <a class="page-link" th:unless="${currentPage < totalPages}">Last</a>
                    </li>
                </ul>
            </nav>
        </footer>
    </div>
</body>
</html>